span {
  /* color: white */
}

#intro-h2 {
  /* color: #6E6E6E; */
}

img {
  width: 200px;
  border-radius: 360px;
}

#personal {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  margin-left: 30%;
}

#about {
  max-width: 800px;
}

#headshot > h3 {
  /* padding: 5px; */
  margin-right: 5px;
}

.header {
  /* background-color: black; */
  position: absolute;
  top: 5px;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section {
  text-align: center;
  /* color: white; */
}
p {
  padding-left: 20%;
  padding-right: 20%;
}
.tech-skills {
  text-align: center;
}

.project {
  width: 500px;
  height: 500px;
}
.project-info {
  width: inherit;
  height: inherit;
  position: absolute;
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.project-img {
  width: inherit;
  height: inherit;
  position: absolute;
}

#project1 {
  position: relative;
}

#contact-me {
  margin-top: 500px;
}